.newsletter {
  background: $dark-color;
  &__content {
    margin-top: 56px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex: 1;
    @media (max-width: 1280px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__video {
    margin-left: 134px;
    min-width: 500px;
    height: 305px;
    @media (max-width: 1280px) {
      margin-top: 60px;
      margin-left: 0;
      min-width: 100%;
      height: auto;
    }
    .iframe-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      border-radius: 10px;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    h3 {
      margin-bottom: 21px;
    }
  }
  form {
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
    @media (max-width: 1280px) {
      justify-content: center;
    }
    input {
      width: 56%;
      outline: none;
      border: none;
      padding: 19px 0 16px 28px;
      border-radius: 15px 0 0 15px;
      font-size: 18px;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #848484;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #848484;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #848484;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: #848484;
      }
    }
    .btn-main {
      padding: 15px 37px;
      border-radius: 0 15px 15px 0;
    }
  }
}
